---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/applications?job_id=4737402002&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v1/applications?job_id=4737402002&page=2&per_page=1>;
        rel="next",<https://harvest.greenhouse.io/v1/applications?job_id=4737402002&page=5&per_page=1>;
        rel="last"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"active","source":null,"rejection_reason":null,"rejection_details":null,"rejected_at":null,"prospective_office":null,"prospective_department":null,"prospect_detail":{"prospect_stage":null,"prospect_pool":null,"prospect_owner":null},"prospect":false,"location":null,"last_activity_at":"2021-02-25T19:37:22.563Z","jobs":[{"name":"Space
        Explorer","id":4737402002}],"id":75692480002,"current_stage":{"name":"Phone
        Interview","id":9621587002},"credited_to":{"name":"Greenhouse Admin","last_name":"Admin","id":4173306002,"first_name":"Greenhouse","employee_id":null},"candidate_id":68601968002,"attachments":[],"applied_at":"2020-12-30T18:25:48.510Z","answers":[]}]'
  recorded_at: Thu, 25 Feb 2021 22:16:25 GMT
recorded_with: VCR 3.0.3
