---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/jobs?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://harvest.greenhouse.io/v1/jobs?page=2&per_page=1>; rel="next",<https://harvest.greenhouse.io/v1/jobs?page=38&per_page=1>;
        rel="last"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4237829002,"name":"Store Manager","requisition_id":null,"notes":null,"confidential":false,"is_template":null,"copied_from_id":null,"status":"open","created_at":"2019-04-29T15:12:23.760Z","opened_at":"2019-09-27T19:42:40.128Z","closed_at":null,"updated_at":"2020-11-16T21:08:17.184Z","departments":[null],"offices":[],"hiring_team":{"hiring_managers":[],"recruiters":[{"id":4173307002,"first_name":"Ty","last_name":"Abernethy","name":"Ty
        Abernethy","employee_id":null,"responsible":true}],"coordinators":[],"sourcers":[]},"custom_fields":{"employment_type":"Full-time"},"keyed_custom_fields":{"employment_type":{"name":"Employment
        Type","type":"single_select","value":"Full-time"}},"openings":[{"id":4509100002,"opening_id":null,"status":"open","opened_at":"2019-09-27T19:42:40.124Z","closed_at":null,"application_id":null,"close_reason":null}]}]'
  recorded_at: Tue, 26 Oct 2021 17:01:24 GMT
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/jobs?page=2&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://harvest.greenhouse.io/v1/jobs?page=3&per_page=1>; rel="next",<https://harvest.greenhouse.io/v1/jobs?page=1&[...]
