---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/applications/165646508002/scheduled_interviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://harvest.greenhouse.io/v1/applications/165646508002/scheduled_interviews?id=165646508002&page=1&per_page=100>;
        rel="last"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":191979079002,"application_id":165646508002,"external_event_id":"6ibe4gifqsro6emq6kqdfgjbjk","start":{"date_time":"2023-06-26T18:15:00.000Z"},"end":{"date_time":"2023-06-26T18:45:00.000Z"},"location":null,"video_conferencing_url":null,"status":"awaiting_feedback","created_at":"2023-06-23T03:03:21.008Z","updated_at":"2023-06-26T19:45:07.582Z","interview":{"id":10195989002,"name":"Behavioral
        Phone Interview"},"organizer":{"id":4774287002,"first_name":"Eric","last_name":"Tipton","name":"Eric
        Tipton","employee_id":null},"interviewers":[{"id":4774287002,"employee_id":null,"name":"Eric
        Tipton","email":"eric.tipton@grayscaleapp.com","response_status":"accepted","scorecard_id":null}]}]'
  recorded_at: Wed, 16 Aug 2023 17:03:18 GMT
recorded_with: VCR 3.0.3
