---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/jobs/4576745002/stages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v1/jobs/4576745002/stages?id=4576745002&page=1&per_page=100>;
        rel="last"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8404059002,"name":"Application Review","created_at":"2020-06-10T16:46:28.863Z","updated_at":"2020-06-10T16:46:28.863Z","active":true,"job_id":4576745002,"priority":0,"interviews":[{"id":10195987002,"name":"Application
        Review","schedulable":false,"interview_kit":{"id":10195993002,"content":null,"questions":[]},"estimated_minutes":1,"default_interviewer_users":[]}]},{"id":8404060002,"name":"Preliminary
        Phone Screen","created_at":"2020-06-10T16:46:28.863Z","updated_at":"2020-06-10T16:46:28.863Z","active":true,"job_id":4576745002,"priority":1,"interviews":[{"id":10195988002,"name":"Preliminary
        Screening Call","schedulable":true,"interview_kit":{"id":10195994002,"content":null,"questions":[]},"estimated_minutes":20,"default_interviewer_users":[]}]},{"id":8404061002,"name":"Phone
        Interview","created_at":"2020-06-10T16:46:28.863Z","[...]
