---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/job_stages/8404059002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_VALUE>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":8404059002,"name":"Application Review","created_at":"2020-06-10T16:46:28.863Z","updated_at":"2020-06-10T16:46:28.863Z","active":true,"job_id":4576745002,"priority":0,"interviews":[{"id":10195987002,"name":"Application
        Review","schedulable":false,"interview_kit":{"id":10195993002,"content":null,"questions":[]},"estimated_minutes":1,"default_interviewer_users":[]}]}'
  recorded_at: Sun, 10 Sep 2023 16:29:11 GMT
recorded_with: VCR 3.0.3
