---
http_interactions:
- request:
    method: post
    uri: https://auth.greenhouse.io/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&sub=5414812002
    headers:
      Authorization:
      - Basic <V3_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1778507709'
      Etag:
      - W/"2794c344a06e325608d51638994a1ce1"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<V3_ACCESS_TOKEN>","expires_at":"2026-05-11T14:54:09Z"}'
  recorded_at: Mon, 11 May 2026 13:54:09 GMT
- request:
    method: get
    uri: https://harvest.greenhouse.io/v3/jobs?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <V3_BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v3/jobs?cursor=eyJxdWVyeSI6eyJwZXJfcGFnZSI6MX0sInBlcl9wYWdlIjoxLCJpZCI6NjM5MzIxODAwMiwicGFnZSI6Miwib3JpZ2luYWxfcmVxdWVzdF9pZCI6ImVhM2MxNzk2NDE5M2UzYTcwMDQ1ZmYyM2NjYmY5NDk3In0%3D>;
        rel="next"
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '128'
      X-Ratelimit-Reset:
      - '1778507680'
      Etag:
      - W/"e3fc7eee4e4ecb72ed5f5ec1c96d2e09"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6409476002,"name":"Window Washer - Seasonal","requisition_id":"76","notes":null,"confidential":false,"created_at":"2026-05-05T22:36:04.296Z","updated_at":"2026-05-05T22:36:05.370Z","is_template":false,"copied_from_id":6386786002,"opened_at":"2026-05-05T22:36:05.366Z","closed_at":null,"status":"open","office_ids":[4033591002],"department_id":4078923002,"custom_fields":{"employment_type":{"name":"Employment
        Type","type":"single_select","value":"Part-time"}}}]

        '
  recorded_at: Mon, 11 May 2026 13:54:10 GMT
recorded_with: VCR 3.0.3
