---
http_interactions:
- request:
    method: post
    uri: https://auth.greenhouse.io/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&sub=5414812002
    headers:
      Authorization:
      - Basic <V3_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1778507684'
      Etag:
      - W/"bbb1e080ed52282a77ccb9771f233a20"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"<V3_ACCESS_TOKEN>","expires_at":"2026-05-11T14:53:44Z"}'
  recorded_at: Mon, 11 May 2026 13:53:44 GMT
- request:
    method: get
    uri: https://harvest.greenhouse.io/v3/jobs?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <V3_BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v3/jobs?cursor=eyJxdWVyeSI6eyJwZXJfcGFnZSI6Mn0sInBlcl9wYWdlIjoyLCJpZCI6NjM5MjExOTAwMiwicGFnZSI6Miwib3JpZ2luYWxfcmVxdWVzdF9pZCI6Ijg3NzE3NGVhNzI0ZDE4Njc5ZGVjNDFjN2FmZjQ2N2YzIn0%3D>;
        rel="next"
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1778507655'
      Etag:
      - W/"e0ff0e12b941c8917e6926ad04ddca00"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6409476002,"name":"Window Washer - Seasonal","requisition_id":"76","notes":null,"confidential":false,"created_at":"2026-05-05T22:36:04.296Z","updated_at":"2026-05-05T22:36:05.370Z","is_template":false,"copied_from_id":6386786002,"opened_at":"2026-05-05T22:36:05.366Z","closed_at":null,"status":"open","office_ids":[4033591002],"department_id":4078923002,"custom_fields":{"employment_type":{"name":"Employment
        Type","type":"single_select","value":"Part-time"}}},{"id":6393218002,"name":"Staff
        Data Engineer","requisition_id":"75","notes":null,"confidential":false,"created_at":"2026-04-06T15:26:44.300Z","updated_at":"2026-04-06T15:30:37.881Z","is_template":false,"copied_from_id":null,"opened_at":"2026-04-06T15:26:44.963Z","closed_at":null,"status":"open","office_ids":[4033591002],"department_id":4060680002,"custom_fields":{"employment_type":{"name":"Employment
        Type","type":"single_select","value":"Full-time"}}}]

        '
  recorded_at: Mon, 11 May 2026 13:53:45 GMT
recorded_with: VCR 3.0.3
