---
http_interactions:
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/candidates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTIzRmFrZVRva2VuOg== # '123FakeToken:'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v1/candidates?page=2&per_page=100>; rel="next",<https://harvest.greenhouse.io/v1/candidates?page=3&per_page=100>;
        rel="last"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"website_addresses":[],"updated_at":"2022-05-03T14:29:02.085Z","title":"Hermit
        Crab","tags":["hubert-abc","Requires US Visa Sponsorship","10 Years Experience","US
        Authorized","engineering"],"social_media_addresses":[],"recruiter":{"name":"Tula
        Hills","last_name":"Hills","id":4173307002,"first_name":"Tula","employee_id":null},"photo_url":null,"phone_numbers":[{"value":"904-315-7393","type":"mobile"}],"last_name":"Lebsack","last_activity":"2022-05-03T14:29:02.068Z","keyed_custom_fields":{"what_is_your_country_code_":null,"field_testing":{"value":"+01","type":"short_text","name":"Dialing
        Code"},"dialing_code":null},"is_private":true,"id":20909586002,"first_name":"Vida","employments":[],"email_addresses":[{"value":"Vida.Lebsack@example.com","type":"personal"}],"educations":[],"custom_fields":{"what_is_your_country_code?":null,"dialing_code":"+01","country_code":null},"created_at":"2019-04-29T15:13:34.163Z","coordinator":{"name":"Albert
        Crona","last_name":"Crona","id":4173307002,"first_name":"Albert","employee_id":null},"company":"Corkery,
        Zulauf and Hudson","can_email":true,"attachments":[],"applications":[],"application_ids":[83660557002,58823185002,58820639002,37129700002,35389611002,37145714002],"addresses":[]},{"website_addresses":[],"updated_at":"2022-09-09T17:46:44.268Z","title":"Store
        Manager","tags":["topwarehousecandidate","10 Years Experience"],"social_media_addresses":[{"value":"https://www.linkedin.com/in/tyabernethy/"}],"recruiter":{"name":"Alonso
        Kovacek","last_name":"Kovacek","id":4173307002,"first_name":"Alonso","employee_id":null},"photo_url":null,"phone_numbers":[{"value":"669.608.1319","type":"mobile"}],"last_name":"Sanford","last_activity":"2022-09-09T17:46:44.253Z"[...]
- request:
    method: get
    uri: https://harvest.greenhouse.io/v1/candidates?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTIzRmFrZVRva2VuOg== # '123FakeToken:'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Link:
      - <https://harvest.greenhouse.io/v1/candidates?page=3&per_page=100>; rel="next",<https://harvest.greenhouse.io/v1[...]
[...]
